<br>
<p class="alert alert-success" *ngIf="noteMessage"> {{noteMessage}}</p>
<br>
<h3>Create New Note</h3>
<hr>
<form [formGroup]="noteForm" (ngSubmit)="createNewNote()">
    <div>
        <div class="mb-3">
            <h4 class="form-label">Note Title</h4>
            <input type="text" formControlName="title" class="form-control" required>
        </div>
        <div class="mb-3">
            <h4 class="form-label">Description</h4>
            <textarea rows="2" formControlName="description" class="form-control" required></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary form-control" [disabled]="!noteForm.valid">{{isEditmode?'Edit Note':'Add Note'}}</button>
</form>