<br>
<div class="d-flex justify-content-between">
    <h3>Details</h3>
</div>
<hr>
<div class="d-flex note hover-shadow ml-auto shadow bg-white p-3 m-2 rounded justify-content-between align-items-center ">
    <div>
        <h4>{{singleNote.title}}</h4>
        <p>{{singleNote.description}}</p>
        <p>{{singleNote.created | date:'medium'}}</p>
    </div>
    <div>
        <button class="btn btn-success" routerLink="">Back To List</button>
    </div>
</div>