<br>
<div class="d-flex justify-content-between">
    <h3>Available Notes</h3>
    <button class="btn btn-success" (click)="onNewNote()">Add New Notes</button>
</div>
<hr>
<div *ngFor="let note of notes;let i = index" [ngClass]="{'bg-success':note.newNote,'bg-warning':note.updated,'bg-danger':note.deleted,'d-flex hover-shadow ml-auto shadow p-3 m-2 rounded justify-content-between align-items-center':true}">
    <div>
        <h4 (click)="onNoteClick(i)">{{i+1}}. {{note.title}}</h4>
    </div>
    <div>
        <button class="btn btn-outline-info m-2 " [disabled]="note.deleted" (click)="onEditNote(i)">Edit</button>
        <button class="btn btn-outline-success m-2 " [disabled]="note.deleted" (click)="onNoteClick(i)">View</button>
        <button class="btn btn-outline-danger m-2 " (click)="onDelete(i)">Delete</button>
    </div>
</div>